@import url(fontiran.css);
body{
    height: 100%;
    overflow-x: hidden;
    font-family: IRANSans !important;
    font-weight: 300;
    direction: rtl;
    margin: 0;

}
html{
    overflow-x: hidden;
    overflow-y: hidden;
}

/*******
sideBar
********/

.admin_sidebar{
    background-color: #605ca8;
    height: 100vh;
    padding-right: 0;
    padding-left: 0;
    margin-top:0;
    width: 13%;
    text-align: center;
}
.admin_side_title{
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 200;
    padding-right: 10%;
    padding-left: 30%;
}
.set_fa{
    margin-right: 15%;
}
.zhenic_title{
    font-size: 30px;
    font-weight: bold;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 47px;
    padding-bottom: 47px;
    font-weight: 200;
}
h5.zhenic_title,h5.admin_side_title{
    text-align: center;
    color: white;
    margin: 0;
}
@media (min-width: 0px) {
    .admin_sidebar {
        float: right;
        width: 16.65%;
    }
}
.menu_shadow{
    box-shadow: 0 0 6px gray;
}

/**********
spline gray
***********/

.spline{
    height: 50px;
    background-color: #f4f4f4;
    margin-top: 0.2%;
}

/*******
menu bar
********/

.col-xs-4.pull-right.home_top{
    margin-right: 4%;
}
.col-xs-4.pull-left.exit_up{
    margin-left: -21%;
}
.zhenic_menubar,.exit_menubar{
    color: black;
}

/****************
activate menu bar
*****************/

.admin_side_title.active{
    background-color: #0198d4;
    opacity: 0.5;
}

/******************
responsive side bar
*******************/

@media(max-width:750px){
    .col-xs-4.pull-left.exit_up{
        margin-left: 6%;
    }
}
@media(max-width:576px){
    .admin_side_title{
        font-size: 11px;
    }
    .zhenic_title{
        font-size: 22px;
    }
    .input_label{
        font-size: 14px;
    }
    .send_btn{
        font-size: 16px;
    }
    input[type="text"].inputSerial::-webkit-input-placeholder {
        font-size: 7px;
    }
    input[type="text"].inputSerial::-moz-placeholder {
        font-size: 7px;
    }
    .button_box{
        padding-top: 30%;
    }
}
@media(min-width:577px){
    .admin_side_title{
        font-size: 12px;
    }
    .zhenic_title{
        font-size: 24px;
    }
    .input_label{
        font-size: 15px;
    }
    .send_btn{
        font-size: 18px;
    }
    input[type="text"].inputSerial::-webkit-input-placeholder {
        font-size: 11px;
    }
    input[type="text"].inputSerial::-moz-placeholder {
        font-size: 11px;
    }
}
@media(min-width:768px){
    .admin_side_title{
        font-size: 13px;
    }
    .zhenic_title{
        font-size: 26px;
    }
    .input_label{
        font-size: 16px;
    }
    .send_btn{
        font-size: 20px;
    }
    input[type="text"].inputSerial::-webkit-input-placeholder {
        font-size: 12px;
    }
    input[type="text"].inputSerial::-moz-placeholder {
        font-size: 12px;
    }
}
@media(min-width:992px){
    .admin_side_title{
        font-size: 14px;
    }
    .zhenic_title{
        font-size: 28px;
    }
    .input_label{
        font-size: 18px;
    }
    .send_btn{
        font-size: 22px;
    }
    input[type="text"].inputSerial::-webkit-input-placeholder {
        font-size: 13px;
    }
    input[type="text"].inputSerial::-moz-placeholder {
        font-size: 13px;
    }
}
@media(min-width:1200px){
    .admin_side_title{
        font-size: 15px;
    }
    .zhenic_title{
        font-size: 30px;
    }
    .input_label{
        font-size: 20px;
    }
    .send_btn{
        font-size: 24px;
    }
    input[type="text"].inputSerial::-webkit-input-placeholder {
        font-size: 15px;
    }
    input[type="text"].inputSerial::-moz-placeholder {
        font-size: 15px;
    }
}
/****-----
scroll bar
------****/
.height_vh{
    height: 100vh;
}
.scrollbar{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    margin-right: -1%;
}
.scroll_padding{
    padding-left: 0;
    margin-left: -3px;
    padding-right: 0;
}

/****-------------------
      backUp_title
-------------------*****/

.backUp_title{
    text-align: center;
    margin-top: 8%;
}
/****-------------------
      backUp button
-------------------*****/

.backUp_btn{
    border-radius: 0;
    margin-top: 25%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    background-color: #0198d4;
}
.btn_padding{
    margin-bottom: 10%;
}
.backUp_box{
    border: 2px solid darkgray;
    border-radius: 4px;
}
.backUp_box_padding{
    padding-right: 25%;
    padding-left: 25%;
    margin-top: 7%;
}

/****-------------------------
       responsive form
-------------------------*****/

@media(max-width: 543px){
    .backUp_title{
        font-size: 15px;
    }
    .backUp_btn{
        font-size: 10px;
    }
}
@media(min-width: 544px){
    .backUp_title{
        font-size: 17px;
    }
    .backUp_btn{
        font-size: 13px;
    }
    .btn_padding{
        padding-right: 8%;
        padding-left: 8%;
    }
}

@media(min-width: 768px){
    .backUp_title{
        font-size: 19px;
    }
    .backUp_btn{
        font-size: 14px;
    }
    .btn_padding{
        padding-right: 20%;
        padding-left: 20%;
    }
}

@media(min-width: 1150px){
    .backUp_title{
        font-size: 20px;
    }
    .backUp_btn{
        font-size: 15px;
    }
    .btn_padding{
        padding-right: 25%;
        padding-left: 25%;
    }
}

@media(min-width: 1200px){
    .backUp_title{
        font-size: 21px;
    }
    .backUp_btn{
        font-size: 16px;
    }
    .btn_padding{
        padding-right: 30%;
        padding-left: 30%;
    }
}