@import url(fontiran.css);
body{
    height: 100%;
    overflow-x: hidden;
    font-family: IRANSans !important;
    font-weight: 300;
    direction: rtl;
    margin: 0;
}
html{
    overflow-x: hidden;
}

/***-------------------
   header(beginning)
--------------------***/
/***---------------
     navBar item
----------------***/

.navbar-nav>li.main_navbar>a{
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
}
.img_nav{
    width: 130px;
    height: 110px;
    margin-top: -14%;
}
.nav.navbar-nav.navbar-right{
    margin-top: 2%;
}
@media(max-width: 770px){
    .img_nav{
        width: 70px;
        height: 70px;
        margin-top: -35%;
    }
}
.navbar.navbar-inverse{  
    border: 0;
    box-shadow: 0 0 5px gray; 
}
.navbar-inverse .navbar-collapse{
    background-color: #252525;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    color: white;
}
.navbar-brand{
    background-color: #f4f4f4;
    padding-bottom: 87px;
}
@media(max-width: 760px){
    .navbar-brand{
        padding-bottom: 0;
    }
}
.navbar-brand:hover{
    color: #f4f4f4;
}
.navbar-brand:hover{
    background-color: #f4f4f4;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
    background-color: #f4f4f4;
}
.navbar-toggle{
    background-color: #252525; 
}
.navbar-inverse .navbar-nav>li.enter_btn>a{

    background-color: #a85c5c;
    color: white;
}
.navbar-inverse .navbar-nav>li.enter_btn>a{
    font-size: 26px;
    color: black;
    width: 145px;
    text-align: center;
    margin-top: -27px;
    margin-right: -27%;
    padding-bottom: 42px;
    color: white;
    height: 100%;
    padding-right: 21.5%;
}
.navbar-nav>li.main_navbar>a{
    color: white;
    text-align: center;
    margin-top: 2.5%;
}
.navbar-nav>li.main_navbar>a.active{
   color: #605ca8;
}


/***----------------------
    responsive menu item
------------------------***/

@media (max-width: 555px) {
    .navbar-nav>li.main_navbar>a{
        font-size: 15px;
        padding-right: 8px;
        padding-left: 8px;
    }
}
@media (min-width: 544px) {
    .navbar-nav>li.main_navbar>a{
        font-size: 15px;
        padding-right: 8px;
        padding-left: 8px;
        text-align: center;
    }
    .navbar-inverse .navbar-nav>li.enter_btn>a{
        padding-top: 50px;
    }
}
@media (min-width: 768px) { 
    .navbar-nav>li.main_navbar>a{
        font-size: 15px;
        padding-right: 8px;
        padding-left: 8px;
        text-align: center;
    }
    .navbar-inverse .navbar-    nav>li.enter_btn>a{
        padding-top: 48px;
    }
}

@media (min-width: 992px) {
    .navbar-nav>li.main_navbar>a{
        font-size: 18px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-inverse .navbar-nav>li.enter_btn>a{
        padding-top: 48px;
    }
}

@media (min-width: 1200px) {
    .navbar-nav>li.main_navbar>a{
        font-size: 20px;
        padding-right: 20px;
        padding-left: 50px;
    }
    .navbar-inverse .navbar-nav>li.enter_btn>a{
        padding-top: 41px;
    }
}

/****---------------
   search form
-----------------***/

#panel {
    padding: 5px;
    text-align: center;
    background-color: #f4f4f4;
    border: solid 1px white;
    padding-right: 40%;
}

#panel {
    padding: 50px;
    display: none;
    height: 108px;
}
.input-group-addon{
    background-color: transparent;
    border: 1px solid transparent;
    color: #171717;
}
.input-group{
    width: 96%;
    margin-right: 6%;
    margin-top: -1.3%;
}
.search_btn_nav{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-top: -15%;
    color: white;
    background-color: #171717;
}
.search_btn_nav:hover,.search_btn_nav:focus{
    color: white;
}
#inputSearchNav{
    background-color: transparent;
    border: 2px solid transparent;
    font-size: 17px;
    border-top: 4px solid transparent;
    border-bottom: 1px solid black;
}
input[type="text"].inputSearchNav::-webkit-input-placeholder {
    color: #171717;
}
input[type="text"].inputSearchNav::-moz-placeholder {
    color: #171717;
}
input[type="text"]:focus,
.inputSearchNav:focus {   
    border-color: transparent;
    box-shadow: 0 1px 1px transparent;
    outline: 0 none;
}

/***---------------------
   responsive search form
----------------------***/

@media (max-width: 755px){
    .search_btn_nav{
        font-size: 10px;
        width: 45px;
        height: 45px;
    }
    .navbar-inverse .navbar-nav>li.enter_btn>a{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 23px;
        margin-right: -1%;
        text-align: center;
        margin-top: 5%;
    }
    input[type="text"].inputSearchNav::-webkit-input-placeholder {
        color: #171717;
        font-size: 10px;
    }
    input[type="text"].inputSearchNav::-moz-placeholder {
        color: #171717;
        font-size: 10px;
    }
}

/***------------
 header(end)
-------------***/

/***-------------
    slide show
--------------***/
.carousel.slide#featured{
    margin-top: 7%; 
}
.navbar.navbar-inverse
.carousel.slide{
    margin-top: 10%;
}
.carousel-indicators li{
    height: 18px;
    width: 18px;
}
.carousel-indicators .active {
    height: 20px;
    width: 20px;
}
@media(max-width: 770px){
    .carousel-indicators li{
        height: 10px;
        width: 10px;
    }
    .carousel-indicators .active {
        height: 12px;
        width: 12px;
    }   
}

/***---------------
   button section
----------------***/

.button_container{
    padding-right: 4%;
    padding-left: 4%;
}
.different_question{
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 70%;
    box-shadow: 0 0 4px gray;
    height: 62.8px;
    background-color: white;
    color: cadetblue;
}
.different_question_img{
    border-radius: 0;
    background-color: cadetblue;
    padding-top: 14px;
    padding-bottom: 6px;
    font-size: 1.99vw;
    width: 30%;
    color: white;
    box-shadow: 0 0 4px gray;
    height: 63px; 
}
.shopping_img{
    border-radius: 0;
    background-color: #a85c5c;
    padding-top: 14px;
    padding-bottom: 6px;
    font-size: 1.99vw;
    width: 30%;
    color: white;
    box-shadow: 0 0 4px gray;
    height: 63px;

}
.shopping,.android{
    border-radius: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 70%;
    box-shadow: 0 0 4px gray;
    height: 62.8px;
    background-color: white;
}
.shopping{
    color: #a85c5c; 
}
.android{
    color: #605ca8;   
}

.android_img{
    border-radius: 0;
    background-color: #605ca8;
    padding-top: 14px;
    padding-bottom: 6px;
    font-size: 1.99vw;
    width: 30%;
    color: white;
    box-shadow: 0 0 4px gray;
    height: 63px;
}
.button_box{
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #eeeeee;
    -moz-box-shadow:inset 0 0 10px  rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 10px  rgba(0,0,0,0.2);
    box-shadow: inset 0 0 10px  rgba(0,0,0,0.2);

}
@media(max-width: 850px){
    .different_question,.different_question_img,.shopping_img,.shopping,.android,.android_img{
        height: 40px;
        font-size: 13px;
    } 
}
/***------------------
         news
-------------------***/
.border_news{
    border: 1px solid black;
}
.news_title{
    background-color: #a1a1a1;
    padding-top: 4%;
    padding-bottom: 4%;
    color: white;
    height: 48px;
}
.explain_news{
    padding-top: 4%;
    padding-bottom: 2.5%;
    background-color: white;
    height: 47px;
}
.between_space{
    margin-left: 2%;
    margin-right: -1%;
}
.news_info_title{
    padding-top: 4%;
    color: white;
    text-align: center;
}
.container-fluid.news{
    background-color: #474747;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

/***------------------
     ZhenicService
-------------------***/

.service_box{
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 3%;
}
.service_title{
    font-size: 30px;
    text-align: center;
    word-spacing: 2px;
    font-weight: bold;
    color: black;
}
@media(max-width: 799px){
    .service_title{
        font-size: 25px;
    } 
}
@media(max-width: 600px){
    .service_title{
        font-size: 13px;
    } 
}
.hr_service{
    border: 1px solid black;
}

/***---------------------
ZhenicDiscount(hover_img)
----------------------***/

.actionImg2 {
    border:1px solid #605ca8;
    height: 100%;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding-bottom: 4%;
}
.actionImg2 {
    position:relative;
}
.actionImg2 .upper_hover {
    display:block;
    width:100%;
    height:100%;
}

/***------------
hover transition
-------------***/

.actionImg2 .hover_first {
    z-index:20;
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(96,92,168,1);
    width:100%;
    height:100%;
    color:#efefef;
    text-align:center;
    padding-top:46.2%;
    box-sizing:border-box;
    opacity:0;
    transition:opacity .3s ease-out;
    -webkit-transition:opacity .3s ease-out;
    -moz-transition:opacity .3s ease-out;
}

.actionImg2 .hover_first .sub_tit_first{
    color:#fff;

    transform:translate3d(0,-10px,0);
    -webkit-transform:translate3d(0,-10px,0);
    -moz-transform:translate3d(0,-10px,0);
    opacity:0;
    transition:transform .5s ease-out .2s,opacity .5s ease-out .3s;
    -webkit-transition:-webkit-transform .5s ease-out .2s,opacity .5s ease-out .3s;
    -moz-transition:-moz-transform .5s ease-out .2s,opacity .5s ease-out .3s;
}
.actionImg2:hover .hover_first{
    opacity:1;
}
.actionImg2:hover .hover_first .sub_tit_first{
    opacity:1;
    transform:translate3d(0,0,0);
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
}
.top{
    margin-top: 2.2%;
}
.dark_border{
    border: 1px solid black;
}
.discount_img{
    height: 80%;
    width: 80%;
    margin-right: 22%;
    margin-top: 19%;
}
.discount_box{
    padding-top: 20%;
    padding-bottom: 20%;
}
.discount_title{
    text-align: center;
    word-spacing: 2px;
    font-weight: 500;
    color: #605ca8;
    margin-right: 14%;
    margin-left: -7%;
}
@media(max-width:576px){
    .discount_title{
        font-size:15px; 
    }
}
@media(min-width:577px){
    .discount_title{
        font-size:17px; 
    }
}
@media(min-width:768px){
    .discount_title{
        font-size:18px; 
    }
}
@media(min-width:992px){
    .discount_title{
        font-size:18px; 
    }
}
@media(min-width:1200px){
    .discount_title{
        font-size:18px; 
    }
}

/***----------
hover_img_text
-----------***/
.btn_all{
    width: auto;
}
.discount_img_hover{
    height: 40%;
    width: 40%;
}
.discount_title_hover{
    font-size:24px;
    text-align: center;
    word-spacing: 2px;
    font-weight: bold;
    color: white;
    margin-right: 3.5%;
}
.moreExplain{
    text-align: center;
    font-size: 22px;
    margin-top: 5%;
    word-spacing: 2px;
    padding-right: 5%;
    padding-left: 5%;
    color: white;
    line-height: normal;
}
@media(max-width:576px){
    .discount_title_hover{
        font-size: 8px;
    }
    .moreExplain{
        font-size: 8px;
    }
    .details_btn{
        padding-right: 4px;
        padding-left: 8px;
        width: 100%;
    }
    .details_btn{
        font-size: 9px;
    }
}
@media(min-width:577px){
    .discount_title_hover{
        font-size: 11px;
    }
    .moreExplain{
        font-size: 10px;
    }
    .details_btn{
        font-size: 11px;
    }
}
@media(min-width:768px){
    .discount_title_hover{
        font-size: 15px;
    }
    .moreExplain{
        font-size: 11px;
    }
    .details_btn{
        font-size: 12px;
    }
}
@media(min-width:992px){
    .discount_title_hover{
        font-size: 20px;
    }
    .moreExplain{
        font-size: 12px;
    }
    .details_btn{
        font-size: 13px;
    }
}
@media(min-width:1200px){
    .discount_title_hover{
        font-size: 17px;
    }
    .moreExplain{
        font-size: 13px;
    }
    .details_btn{
        font-size: 14px;
    }
}
.discount_box_hover{
    padding-top: 13.5%;
    padding-bottom: 13.8%;
    background-color: #605ca8;
    width: 100%;
    margin-left: 0%;
}
.details_btn{
    border-radius: 20px;
    width: 60%;
    margin-top: 5%;
    background-color: white;
    color: black;
}
.second_box{
    margin-top: -32.5%;
}
.container-fluid-discount{
    padding-right: 3%;
    padding-left: 3%;
}
/***--------
BestShopping
---------***/

.best_title{
    text-align: center;
    word-spacing: 2px;
    font-weight: bold;
}
@media(max-width: 799px){
    .best_title{
        font-size: 25px;
    } 
}
@media(max-width: 600px){
    .best_title{
        font-size: 15px;
    } 
}
.space_4_card{
    padding-right: 3%;
    padding-left: 3%;
}

/***----------
  opac_layer
-----------***/

.pading{
    z-index: 0;
    padding-right: 5px !important;
    padding-left: 5px  !important;
    margin-top: 25px;
}
.opac_layer img{
    position: relative; 
    width: 82%;
    height: 300px;

}
.name_shopping{
    font-size: 22px;
    text-align: center;
    color: #a85c5c;
    font-weight: bold;
}
.detail_title{
    font-size: 18px;
    text-align: center;
    color: #a85c5c;
    margin-bottom: -10%;
}
.discunt_btn_img{
    font-size: 17px;
    margin-top: 50px;
    margin-left: -2%;
    border-radius: 25px;
    background-color: #a85c5c;
    color: white;
    box-shadow: 0 0 4px gray;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 15%;
    padding-left: 15%;
}
.back_layer{
    background-color: #333;
    opacity: 0.95;
    margin-top: -150px;
    padding-top: 0px;
    padding-bottom: 20px;
    border-top: 2px solid #605ca8;
    height: 150px;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
}
.back_layer img{
    position: relative; 
    width: 100%;
    height: 400px;
}
.percent{
    background-color: white;
    border-radius: 21px;
    padding-right: 4%;
    padding-left: 4%;
    width: 20%;
    font-size: 1.5vw;
    margin-right: -15%;
    padding-top: 4.5%;
    padding-bottom: 4.5%;
    color: #a85c5c;
    font-size: 17px;
}
.btn_upper{
    padding-top: 4.6%;
}
@media(max-width:1200px){
    .detail_title{
        font-size: 13px;
    }
    .name_shopping{
        font-size: 16px;
    }
    .percent{
        font-size: 12px; 
    }
    .discunt_btn_img{
        font-size: 11px;
        margin-left: 5%;
        margin-right: -22%;
    }
}
@media(max-width:1200px){
    .discunt_btn_img{
        margin-right: -12%;
    }
}
img.radious_img{
    border-radius: 3%;
    box-shadow: 0 0 3px gray;
}
.thumbnail.padding{
    border: 1px solid transparent;
    background-color: #eeeeee;
    border-radius: 3%;
}
.first_shopping_btn{
    text-align: center;
    border-radius: 25px;
    margin-right: -4%;
    font-size: 18px;
    word-spacing: 2px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    color: white;
    background-color: #605ca8; 
    padding-right: 3%;
    padding-left: 3%;
    box-shadow: 0 0 4px gray;
    width: 200px;
}
.box_card{
    background-color: #eeeeee;
    -moz-box-shadow:inset 0 0 10px  rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 10px  rgba(0,0,0,0.2);
    box-shadow: inset 0 0 10px  rgba(0,0,0,0.2);
}
@media(max-width: 770px){
    .first_shopping_btn{
        margin-right: -25%; 
    } 
}

/***----------------
ZhenicShopping(start)
------------------***/

.box {
    border:1px solid #333;
    width: 50%;
    height: 100%;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.actionImg3 {
    position:relative;
}
.actionImg3 img {
    display:block;
    width:100%;
    height:100%;
}

/***--------------
ZhenicShoppingHover
----------------***/

.actionImg3 .hover {
    z-index:20;
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(96,92,168,0.8);
    width:100%;
    height:100%;
    color:#efefef;
    text-align:center;
    padding-top:46.2%;
    box-sizing:border-box;
    opacity:0;
    transition:opacity .3s ease-out;
    -webkit-transition:opacity .3s ease-out;
    -moz-transition:opacity .3s ease-out;
}

.actionImg3 .hover .sub_tit{
    color:#fff;

    transform:translate3d(0,-10px,0);
    -webkit-transform:translate3d(0,-10px,0);
    -moz-transform:translate3d(0,-10px,0);
    opacity:0;
    transition:transform .5s ease-out .2s,opacity .5s ease-out .3s;
    -webkit-transition:-webkit-transform .5s ease-out .2s,opacity .5s ease-out .3s;
    -moz-transition:-moz-transform .5s ease-out .2s,opacity .5s ease-out .3s;
}
.actionImg3:hover .hover{
    opacity:1;
}
.actionImg3:hover .hover .sub_tit{
    opacity:1;
    transform:translate3d(0,0,0);
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
}

/***-----------------
change detail of card
------------------***/

.title_nagm{
    text-align: center;
    word-spacing: 2px;
    margin-top: -34%;
    font-size: 2.6vw;
}
.btn.vision{
    margin-right: -1.5%;
    font-size: 1.75vw;
    border-radius: 25px;
    margin-top: -12.5%;
    background-color: white;
    color: #605ca8;
}
.actionImg3.col-xs-6{
    padding: 0;
}
.percent_discount{
    text-align: center;
    word-spacing: 2px;
    margin-top: -21%;
    font-size: 1.9vw;
}
.pin_icon{
    width: 20%;
    height: 20%;
    margin-top: -11%;
    margin-left: 28%;  
}
.pin_img{
    width: 10%;
    height: 10%;
}
.list_shopping_zhenic{
    padding-right: 24%;
    margin-top: 6%;
}

/***----------
  button list
-----------***/

.list_shopping_zhenic_btn{
    font-size: 1.8vw;
    border-radius: 55px;
    word-spacing: 2px;
    width: 70%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #605ca8;
    color: white;
    box-shadow: 0 0 8px gray; 
}
.All-page-icone{
    width: 6%;
    height: 6%;
}
/*ZhenicShopping(end)*/

/***-----------
EmailBox(start)
------------***/

.email_box{
    border: 3px solid #605ca8;
    border-radius: 3px;
    margin-top: 6%;
    padding-top: 4.5%;
    padding-right: 4%;
    padding-bottom: 3%;
}
.box_card_email{
    background-color: #eeeeee;
    -moz-box-shadow:inset 0 0 10px  rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 10px  rgba(0,0,0,0.2);
    box-shadow: inset 0 0 10px  rgba(0,0,0,0.2);
    padding-bottom: 6%;
    margin-top: 4.9%;
    }

.email_title{
    text-align: center;
    font-size: 1.8vw;
    color: white;
}
.purple_box{
    border: 2px solid #605ca8;
    background-color: #605ca8;
    padding-bottom: 2.5%;
    border-radius: 5px;  
}

/***--------------------
input peroperties(email)
---------------------***/

#inputNumber{
    border-radius: 0;
    background-color: #eeeeee;
    padding-top: 4%;
    padding-bottom: 4%;
    height: auto;
}
#inputName{
    border-radius: 0;
    padding-top: 4%;
    padding-bottom: 4%;
    height: auto;
}
#inputEmail{
    border-radius: 0;
    background-color: #eeeeee;
    padding-top: 2%;
    padding-bottom: 2%;
    height: auto;
}
input[type="text"].inputNumber::-webkit-input-placeholder {
    text-align: center;
    font-size: 1.2vw;
    color: gray;
}
input[type="text"].inputNumber::-moz-placeholder {
    text-align: center;
    font-size: 1.2vw;
    color: gray;
}
input[type="text"].inputName::-webkit-input-placeholder {
    text-align: center;
    font-size: 1.2vw;
    color: gray;
}
input[type="text"].inputName::-moz-placeholder {
    text-align: center;
    font-size: 1.2vw;
    color: gray;
}
input[type="text"].inputEmail::-webkit-input-placeholder {
    text-align: center;
    font-size: 1.2vw;
    color: gray;
}
input[type="text"].inputEmail::-moz-placeholder {
    text-align: center;
    font-size: 1.2vw;
    color: gray;
}
#inputComments_answer{
    background-color: #eeeeee;
    border-radius: 0;
    padding-bottom: 25%;
}
textarea::-webkit-input-placeholder {
    color: gray !important;
    font-size: 1.2vw !important;
}
textarea:-moz-placeholder { 
    /* Firefox 18- */
    color: gray !important;
    font-size: 1.2vw !important;
}

textarea::-moz-placeholder { 
    /* Firefox 19+ */
    color: gray !important; 
    font-size: 1.2vw !important;
}

textarea:-ms-input-placeholder {  
    color: gray !important; 
    font-size: 1.2vw !important;
}
.send_message_btn{
    margin-right: 8%;
    border-radius: 0;
    font-size: 1.4vw;
    width: 50%;
    background-color: white;
    color: #605ca8;
}
.social_box{
    padding-right: 14%;
    padding-left: 10%;
}
.contact_with_us_btn{
    font-size: 1.6vw;
    word-spacing: 2px;
    border-radius: 0;
    margin-right: 18%;
    color: white;
    background-color:  #a85c5c;
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
    margin-top: 0%;
}
.telephone-icone{
    width: 82%;
    height: 82%;
}

/***--------
social title
---------***/

.tNumber_title{
    font-size: 1.5vw;
    margin-right: -15%;
    padding-top: 12.5%;
    color: #a85c5c;
    padding-bottom: 1%;
}
.padding_social{
    padding: 0;
}
@media(max-width: 770px){
    .tNumber_title{
        padding-top: 0;
    }
    .contact_with_us_btn{
        margin-right: 10%; 
    }
    .send_message_btn{
        margin-right: 0;
        padding-right: 1px;
        text-align: center;
    }
}
/***-------
   Footer
--------***/

.footer_part{
    border: 1px solid black;
}

/***---------
button footer
----------***/

.get_zhenic_app{
    font-size: 18px;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
    color: white;
}
.get_zhenic_app_btn{
    font-size: 15px;
    text-align: center;
    border-radius: 25px;
    word-spacing: 2px;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    color: white;
    background-color: #605ca8; 
}
.get_zhenic_app_btn_col{
    margin: 20px 10px;
    margin-left: -6.2%;
    padding-right: 10%;
}
@media(max-width: 1100px){
    .get_zhenic_app_btn_col{
        margin-left: 6%; 
    }
}
@media(max-width: 1000px){
    .get_zhenic_app_btn_col{
        margin-left: -30%; 
    }
}
@media(max-width: 850px){
    .get_zhenic_app_btn_col{
        margin-left: -25%; 
    }
    .social_btn{
        height: 50px;
        width: 50px;
    }
}
@media(max-width: 660px){
    .get_zhenic_app_btn_col{
        margin-left: -20%; 
    }
}
@media(max-width: 500px){
    .get_zhenic_app_btn_col{
        margin-left: -4%; 
    }
}
@media(max-width: 300px){
    .get_zhenic_app_btn_col{
        margin-left: 20%;
    }
}


.footer_android{
    color: white;
}
.contact_sub{
    font-size: 17px;
    text-align: center;
    padding-top: 2%;
    color: white;
}
@media(max-width: 1000px){
    .contact_sub{
        padding-top: 0;

    }
}

/***-------------
social_btn footer
--------------***/

.social_btn{
    height: 60px;
    width: 60px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.social_col{
    margin: 20px 10px;
    text-align: center;
    margin-left: 1%;
}
.s_box{
    padding-right: 3%;
}

/***-----------------
footer_part_one(left)
------------------***/

.footer_part_one{
    border-top: 4px solid #605ca8;
    border-right: 1px solid #605ca8;
    background-color: #252525;
    height: 330px;
}
.connect_way{
    font-size: 21px;
    text-align: center;
    padding-top: 10%;
    color: #605ca8; 
}
.hr_under{
    border-top: 4px solid #605ca8;
    text-align: center;
    width: 25%;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 6%;
}
.exact_address{
    font-size: 17px;
    text-align: center;
    padding-bottom: 6%;
    color: white;
}
.extra_pad{
    padding-bottom: 14.5%;
}

/***------------------------
footer_part_two(middle part)
-------------------------***/

.footer_part_two{
    border-top: 4px solid #605ca8;
    border-right: 1px solid #605ca8;
    border-left: 1px solid #605ca8;
    background-color: #252525;
    height: 330px;
}
.footer_img{
    height: 80%;
    width: 80%;
    margin-top: 10%;
}
.menu_footer_title{
    font-size: 21px;
    padding-top: 28%;
    color: #605ca8;
    border-bottom: 4px solid #605ca8;
}
.home_menu{
    font-size: 19px;
    margin-top: 71%;
    color: white;
}
.other_menu{
    font-size: 19px;
    color: white;
}

/***--------------------
footer_part_three(right)
---------------------***/

.footer_part_three{
    border-top: 4px solid #605ca8;
    border-left: 1px solid #605ca8;
    background-color: #252525;
    height: 330px;
}
@media(max-width: 1000px){
    .home_menu{
        margin-top: 50%;

    }
    .menu_title_footer_right{
        padding-top: 0;
    }
}
@media(max-width: 700px){
    .home_menu{
        margin-top: 85%;

    }
    .menu_title_footer_right{
        padding-top: 0;
    }
}
.menu_title_footer_right{
    font-size: 21px;
    text-align: center;
    color: #605ca8;
    border-bottom: 4px solid #605ca8;
    padding-bottom: 2%;
    text-align: right;
    width: 50px;
}
.list-group-item{
background-color: transparent;
    color: white;
    border: 1px solid transparent;
    width: 100%;
    margin-right: -20%;
    padding-top: 2px;
    padding-bottom: 1.5px;
}
h4.menu_footer{
    font-size: 19.5px;
}
.list-group{
    padding-right: 23px;
    margin-top: 28.05%;
}

/***-------------
 footer_moreInfo
--------------***/

.footer_moreInfo{
    text-align: center;
    font-size: 14px;
    padding-top: 1%;
    color: white;
}
.footer_moreInfo_cp{
    text-align: center;
    font-size: 14px;
    padding-top: 0;
    color: white;
}
.back_copy{
    background-color: #656565;
}
.nav_map{
    color: #656565;
}

/***--------------
glyphicon-phone-alt
----------------***/

.glyphicon-phone-alt{
    font-size: 15px;
    color: #656565;
}
button>a.init,button>a.init:hover{
    color: white;
}

/*----------------------
button has text decoration
-------------------------*/

a.a_dec_q,a.init{
    text-decoration: none;
}

/*----------------------
sms back to home
-------------------------*/
#backtohome a{
    text-align: center;
    background-color: #605ca8;
    border-radius: 10px;
    margin-top: 200px;
}
