@import url(fontiran.css);
body{
    height: 100%;
    overflow-x: hidden;
    font-family: IRANSans !important;
    font-weight: 300;
    direction: rtl;
    margin: 0;
}
html{
    overflow-x: hidden;
}
/***---------------
     navBar item
----------------***/

.navbar-nav>li.main_navbar>a{
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
}
.img_nav{
    width: 130px;
    height: 110px;
    margin-top: -14%;
}
.nav.navbar-nav.navbar-right{
    margin-top: 2%;
}
@media(max-width: 770px){
    .img_nav{
        width: 70px;
        height: 70px;
        margin-top: -35%;
    }
}
.navbar.navbar-inverse{  
    border: 0;
    box-shadow: 0 0 5px gray; 
}
.navbar-inverse .navbar-collapse{
    background-color: #252525;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    color: white;
}
.navbar-brand{
    background-color: #f4f4f4;
    padding-bottom: 87px;
}
@media(max-width: 760px){
    .navbar-brand{
        padding-bottom: 0;
    }
}
.navbar-brand:hover{
    color: #f4f4f4;
}
.navbar-brand:hover{
    background-color: #f4f4f4;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
    background-color: #f4f4f4;
}
.navbar-toggle{
    background-color: #252525; 
}
.navbar-inverse .navbar-nav>li.enter_btn>a{

    background-color: #a85c5c;
    color: white;
}
.navbar-inverse .navbar-nav>li.enter_btn>a{
    font-size: 26px;
    color: black;
    width: 145px;
    text-align: center;
    margin-top: -27px;
    margin-right: -27%;
    padding-bottom: 41px;
    color: white;
    height: 100%;
}
.navbar-nav>li.main_navbar>a{
    color: white;
    text-align: center;
}

/***----------------------
    responsive menu item
------------------------***/

@media (max-width: 555px) {
    .navbar-nav>li.main_navbar>a{
        font-size: 15px;
        padding-right: 8px;
        padding-left: 8px;
    }
}
@media (min-width: 544px) {
    .navbar-nav>li.main_navbar>a{
        font-size: 16px;
        padding-right: 8px;
        padding-left: 8px;
        text-align: center;
    }
    .navbar-inverse .navbar-nav>li.enter_btn>a{
        padding-top: 50px;
    }
}
@media (min-width: 768px) { 
    .navbar-nav>li.main_navbar>a{
        font-size: 18px;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }
    .navbar-inverse .navbar-    nav>li.enter_btn>a{
        padding-top: 48px;
    }
}

@media (min-width: 992px) {
    .navbar-nav>li.main_navbar>a{
        font-size: 19px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-inverse .navbar-nav>li.enter_btn>a{
        padding-top: 48px;
    }
}

@media (min-width: 1200px) {
    .navbar-nav>li.main_navbar>a{
        font-size: 21px;
        padding-right: 20px;
        padding-left: 70px;
    }
    .navbar-inverse .navbar-nav>li.enter_btn>a{
        padding-top: 41px;
    }
}

/****---------------
   search form
-----------------***/

#panel {
    padding: 5px;
    text-align: center;
    background-color: #f4f4f4;
    border: solid 1px white;
    padding-right: 40%;
}

#panel {
    padding: 50px;
    display: none;
    height: 108px;
}
.input-group-addon{
    background-color: transparent;
    border: 1px solid transparent;
    color: #171717;
}
.input-group{
    width: 96%;
    margin-right: 6%;
    margin-top: -1.3%;
}
.search_btn_nav{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-top: -15%;
    color: white;
    background-color: #171717;
}
.search_btn_nav:hover,.search_btn_nav:focus{
    color: white;
}
#inputSearchNav{
    background-color: transparent;
    border: 2px solid transparent;
    font-size: 17px;
    border-top: 4px solid transparent;
    border-bottom: 1px solid black;
}
input[type="text"].inputSearchNav::-webkit-input-placeholder {
    color: #171717;
}
input[type="text"].inputSearchNav::-moz-placeholder {
    color: #171717;
}
input[type="text"]:focus,
.inputSearchNav:focus {   
    border-color: transparent;
    box-shadow: 0 1px 1px transparent;
    outline: 0 none;
}

/***---------------------
   responsive search form
----------------------***/

@media (max-width: 755px){
    .search_btn_nav{
        font-size: 10px;
        width: 45px;
        height: 45px;
    }
    .navbar-inverse .navbar-nav>li.enter_btn>a{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 23px;
        margin-right: -1%;
        text-align: center;
        margin-top: 5%;
    }
    input[type="text"].inputSearchNav::-webkit-input-placeholder {
        color: #171717;
        font-size: 10px;
    }
    input[type="text"].inputSearchNav::-moz-placeholder {
        color: #171717;
        font-size: 10px;
    }
}

/***------------
 header(end)
-------------***/


/* -------------------------------- 

Top Header of Store

-------------------------------- */

#main_container,
#faq_container,
#services_container {
    border: 2px solid #605ca8;
    border-radius: 10px;
    background-color: #f4f4f4;
}
#services_container{
    margin-top: 10%;
}

#top_container,
#address_container,
.question_ans_cadr {
    margin: 20px;
    border: 1px solid #605ca8;
    background-color: white;
}

#store_name {
    text-align: center;
}

#store_name h2 {
    color: #605ca8;
    font-weight: 500;
}

#store_name hr {
    display: block;
    height: 3px;
    border: 0;
    border-bottom: 3px solid #605ca8 !important;
    margin: 1em 0;
    padding: 0;
    margin-bottom: 0px;
}

#loc_image img {
    width: 40px;
    height: 40px;
    margin: auto;
    margin-top: 15px;
}


/* -------------------------------- 

Gallery Images of Store

-------------------------------- */

#gallery {
    padding: 1%;
}

.gall_thumb {
    width: 80%;
    height: 100%;
    margin: 14% 0px 10% 10%;
}

#gall_image {
    padding: 4%;
    padding-top: 1%;
    padding-left: 0%;
}


/* Style the Image Used to Trigger the Modal */

#gallery img {
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#gallery img:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


/* Store Detail Text */

#store_text p {
    line-height: 35px;
    padding: 50px;
    direction: rtl;
    font-size: 16px;
}

.seprator_line {
    display: block;
    height: 1px;
    border: 0;
    border-bottom: 1px solid #605ca8 !important;
    margin: 0.7em 1em;
    margin-top: 0px;
    width: 95%;
    margin-left: 2%;
}


/* -------------------------------- 

Address Section Above Map

-------------------------------- */

#address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
}

#address_container {
    margin-top: 40px;
    margin-bottom: 40px;
}

#address_container p {
    direction: rtl;
    padding: 10px;
    width: 94%;
    margin-bottom: 0px;
}

#address_container img {
    width: 40px;
    height: 40px;
}

#map {
    margin-bottom: 50px;
}


/* -------------------------------- 

Faq Page Style

-------------------------------- */

#faq_title,
#service_title {
    text-align: center;
}

#faq_title h2 {
    color: #000000;
    font-weight: 500;
}

.question_ans_cadr {
    direction: rtl;
}

.question_ans_cadr {
    line-height: 30px;
    padding: 10px;
}

.question_ans_cadr span {
    color: #605ca8;
}

.faq_hr {
    display: block;
    height: 1px;
    border: 0;
    border-bottom: 1px solid black !important;
    margin: 20px;
    padding: 0;
}

#faq_sep_line {
    display: block;
    border: 10px;
    width: 1px;
    border-bottom: 590px solid black !important;
}

.line {
    border-right: 1px solid black;
}


/* -------------------------------- 

Services Page Style

-------------------------------- */

.services_small_Sect {
    border: 1px solid #605ca8;
    background-color: white;
}

#service_title h2 {
    color: #605ca8;
    font-weight: 500;
}

#service_title img {
    width: 10%;
    height: 10%;
    margin: auto auto;
    margin-top: 30px;
}

#service_title p {
    line-height: 35px;
    text-align: center;
    padding: 35px;
    font-size: 17px;
}

#service_title h3 {
    color: #605ca8;
}

.features h4 {
    text-align: center;
}

.features p {
    direction: rtl;
    text-align: center;
    line-height: 30px;
    padding: 20px;
}

.services_small_Sect h4 {
    margin-top: 30px;
}

div.services_small_Sect {
    margin-left: 55px;
    margin-bottom: 50px;
    margin-top: 30px;
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    /* Container of Macbook and iPhone image to center them */
}


/* Between Md and Lg */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #address_container p {
        width: 90%;
    }
    div.services_small_Sect {
        margin-left: 40px;
        margin-bottom: 50px;
        margin-top: 30px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) and (max-width: 768px) {
    #address_container p {
        width: 90%;
    }
    div.services_small_Sect {
        margin-bottom: 50px;
        margin-top: 30px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    #address_container p {
        width: 86%;
    }
}
}

/***---------
ZhenicService
----------***/

.service_box{
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 3%;
}
.container.service_box{
    margin-top: 3.5%;
    margin-bottom: 2.5%;
}
.service_title{
    font-size: 30px;
    text-align: center;
    word-spacing: 2px;
    font-weight: bold;
    color: black;
}
@media(max-width: 799px){
    .service_title{
        font-size: 25px;
    } 
}
@media(max-width: 600px){
    .service_title{
        font-size: 13px;
    } 
}
.hr_service{
    border: 1px solid black;
}

/***---------------------
ZhenicDiscount(hover_img)
----------------------***/

.box {
    border:1px solid #333;
    width: 50%;
    height: 100%;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.actionImg2 {
    position:relative;
}
.actionImg2 .upper_hover {
    display:block;
    width:100%;
    height:100%;
}

/***------------
hover transition
-------------***/

.actionImg2 .hover_first {
    z-index:20;
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(96,92,168,1);
    width:100%;
    height:100%;
    color:#efefef;
    text-align:center;
    padding-top:46.2%;
    box-sizing:border-box;
    opacity:0;
    transition:opacity .3s ease-out;
    -webkit-transition:opacity .3s ease-out;
    -moz-transition:opacity .3s ease-out;
}

.actionImg2 .hover_first .sub_tit_first{
    color:#fff;

    transform:translate3d(0,-10px,0);
    -webkit-transform:translate3d(0,-10px,0);
    -moz-transform:translate3d(0,-10px,0);
    opacity:0;
    transition:transform .5s ease-out .2s,opacity .5s ease-out .3s;
    -webkit-transition:-webkit-transform .5s ease-out .2s,opacity .5s ease-out .3s;
    -moz-transition:-moz-transform .5s ease-out .2s,opacity .5s ease-out .3s;
}
.actionImg2:hover .hover_first{
    opacity:1;
}
.actionImg2:hover .hover_first .sub_tit_first{
    opacity:1;
    transform:translate3d(0,0,0);
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
}
.top{
    margin-top: 2.2%;
}
.dark_border{
    border: 1px solid black;
}
.discount_img{
    height: 45%;
    width: 45%;
    margin-right: 28%;
}
.discount_box{
    padding-top: 20%;
    padding-bottom: 20%;
}
.discount_title{
    text-align: center;
    word-spacing: 2px;
    margin-right: 4%;
    font-weight: 500;
}
@media(max-width:576px){
    .discount_title{
        font-size:10px; 
    }
}
@media(min-width:577px){
    .discount_title{
        font-size:15px; 
    }
}
@media(min-width:768px){
    .discount_title{
        font-size:20px; 
    }
}
@media(min-width:992px){
    .discount_title{
        font-size:24px; 
    }
}
@media(min-width:1200px){
    .discount_title{
        font-size:27px; 
    }
}

/***----------
hover_img_text
-----------***/

.discount_img_hover{
    height: 30%;
    width: 30%;
}
.discount_title_hover{
    font-size:24px;
    text-align: center;
    word-spacing: 2px;
    margin-right: 3.5%;
    color: white;
    font-weight: bold;
}
.moreExplain{
    text-align: center;
    font-size: 22px;
    margin-top: 5%;
    word-spacing: 2px;
    padding-right: 5%;
    padding-left: 5%;
    color: white;
    line-height: normal;
}
@media(max-width:576px){
    .discount_title_hover{
        font-size: 8px;
    }
    .moreExplain{
        font-size: 6px;
    }
    .details_btn{
        padding-right: 4px;
    }
}
@media(min-width:577px){
    .discount_title_hover{
        font-size: 10px;
    }
    .moreExplain{
        font-size: 8px;
    }
}
@media(min-width:768px){
    .discount_title_hover{
        font-size: 15px;
    }
    .moreExplain{
        font-size: 14px;
    }
}
@media(min-width:992px){
    .discount_title_hover{
        font-size: 20px;
    }
    .moreExplain{
        font-size: 16px;
    }
}
@media(min-width:1200px){
    .discount_title_hover{
        font-size: 22px;
    }
    .moreExplain{
        font-size: 18px;
    }
}
.discount_box_hover{
    padding-top: 13.5%;
    padding-bottom: 13.8%;
    background-color: #605ca8;
    width: 100%;
    margin-left: 0%;
}
.details_btn{
    border-radius: 20px;
    width: 35%;
    margin-top: 5%;
    font-size: 1.48vw;
    background-color: white;
    color: black;
}
.second_box{
    margin-top: -32.5%;
}

/***--------
   Footer
---------***/

.footer_part{
    border: 1px solid black;
}

/***------------
  button footer
-------------***/

.get_zhenic_app{
    font-size: 21px;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
    color: white;
}
.get_zhenic_app_btn{
    font-size: 18px;
    text-align: center;
    border-radius: 25px;
    word-spacing: 2px;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    color: white;
    background-color: #605ca8; 
}
.get_zhenic_app_btn_col{
    margin: 20px 10px;
    margin-left: -6.2%;
}
@media(max-width: 1100px){
    .get_zhenic_app_btn_col{
        margin-left: 6%; 
    }
}
@media(max-width: 1000px){
    .get_zhenic_app_btn_col{
        margin-left: -30%; 
    }
}
@media(max-width: 850px){
    .get_zhenic_app_btn_col{
        margin-left: -25%; 
    }
    .social_btn{
        height: 50px;
        width: 50px;
    }
}
@media(max-width: 660px){
    .get_zhenic_app_btn_col{
        margin-left: -20%; 
    }
}
@media(max-width: 500px){
    .get_zhenic_app_btn_col{
        margin-left: -4%; 
    }
}
@media(max-width: 300px){
    .get_zhenic_app_btn_col{
        margin-left: 20%;
    }
}


.footer_android{
    color: white;
}
.contact_sub{
    font-size: 19px;
    text-align: center;
    padding-top: 8%;
    color: white;
}
@media(max-width: 1000px){
    .contact_sub{
        padding-top: 0;

    }
}

/***-------------
social_btn footer
--------------***/

.social_btn{
    height: 60px;
    width: 60px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.social_col{
    margin: 20px 10px;
    text-align: center;
    margin-left: 1%;
}
.s_box{
    padding-right: 3%;
}

/***----------------
footer_part_one(left)
-----------------***/

.footer_part_one{
    border-top: 4px solid #605ca8;
    border-right: 1px solid #605ca8;
    background-color: #252525;
    height: 450px;
}
.connect_way{
    font-size: 21px;
    text-align: center;
    padding-top: 10%;
    color: #605ca8; 
}
.hr_under{
    border-top: 4px solid #605ca8;
    text-align: center;
    width: 25%;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 6%;
}
.exact_address{
    font-size: 19px;
    text-align: center;
    padding-bottom: 6%;
    color: white;
}
.extra_pad{
    padding-bottom: 14.5%;
}

/***-----------------------
footer_part_two(middle part)
-------------------------***/

.footer_part_two{
    border-top: 4px solid #605ca8;
    border-right: 1px solid #605ca8;
    border-left: 1px solid #605ca8;
    background-color: #252525;
    height: 450px;
}
.footer_img{
    height: 80%;
    width: 80%;
    margin-top: 10%;
}
.menu_footer_title{
    font-size: 21px;
    padding-top: 28%;
    color: #605ca8;
    border-bottom: 4px solid #605ca8;
}
.home_menu{
    font-size: 19px;
    margin-top: 71%;
    color: white;
}
.other_menu{
    font-size: 19px;
    color: white;
}

/***--------------------
footer_part_three(right)
---------------------***/

.footer_part_three{
    border-top: 4px solid #605ca8;
    border-left: 1px solid #605ca8;
    background-color: #252525;
    height: 450px; 
}
@media(max-width: 1000px){
    .home_menu{
        margin-top: 50%;

    }
}
@media(max-width: 700px){
    .home_menu{
        margin-top: 85%;

    }
}

/***-----------
footer_moreInfo
------------***/

.footer_moreInfo{
    text-align: center;
    font-size: 19px;
    padding-top: 1%;
    color: white;
}
.footer_moreInfo_cp{
    text-align: center;
    font-size: 19px;
    padding-top: 0;
    color: white;
}
.back_copy{
    background-color: #656565;
}
.nav_map{
    color: #656565;
}

/***---------------
glyphicon-phone-alt
----------------***/

.glyphicon-phone-alt{
    font-size: 15px;
    color: #656565;
}
.footer_upper{
    margin-top: 10%;
}
