@import url(homePage.css);
/***---------------
   button all
----------------***/
.dropDown_box{
    border: 1px solid #605ca8;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: #f4f4f4;
    margin-top: 3%;
    margin-bottom: 2%;
}
.btn_all{
    border-radius: 0;
    margin-right: 30%;
    border: 1px solid black;
    background-color: white;
}
.button_name{
    margin-right: 30%;
    margin-top: 5%;
}
.filter_btn{
    margin-top: 5%;
    margin-left: -9.7%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 25px;
    background-color: #605ca8;
    color: white;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: white;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.slider.round{
    border: 1px solid black;
}
.switch{
    margin-left: -20%;
    margin-top: 6.8%;
}
.show_shop_title{
    margin-top: 10.3%;
    margin-right: -100%;
}
@media(max-width: 1000px){
    .switch{
        margin-top: -600px;
    } 
    .show_shop_title{
        margin-right: 0;
    }
}
.dropdown-menu{
    margin-right: -5%;
    margin-left: 30%;
    min-width: 120px;
}
@media (max-width: 545px){
    .btn_all{
        width: auto;
    } 
    .filter_btn{
        width: 100%;
    }
}
@media (min-width: 544px){
    .btn_all{
        width: auto;
    } 
    .filter_btn{
        width: 100%;
    }
}
@media (min-width: 768px){
    .btn_all{
        width: auto;
    }
    .filter_btn{
        width: 55%;
    }
}
@media (min-width: 992px){
    .btn_all{
        width: auto;
    }
    .filter_btn{
        width: 50%;
    }
}
@media (min-width: 1200px){
    .btn_all{
        width: auto;
    } 
    .filter_btn{
        width: 45%;
    }
}

/***---------------
    allShops
----------------***/

.allShp_boxing{
    margin-right: 0.5%;
    margin-left: 0.5%;
    padding-right: 2%;
    padding-left: 2%;
    background-color: #eeeeee;
    border-right: 1px solid #a85c5c;
    border-left: 1px solid #a85c5c;
}
.top_border{
    border-top: 1px solid #a85c5c;
}
.border_bottom{
    border-bottom: 1px solid #a85c5c;
}

/***----------------------
   button & pagination
-----------------------***/

.last_see_btn{
    width: 42.5%;
    font-size: 18px;
    padding-top: 1.7%;
    padding-bottom: 1.7%;
    border-radius: 0;
    color: white;
    background-color: #a85c5c; 
}
.box_pagination{
    margin-top: 5%;
    margin-bottom: 5%;
}
/*****--------
  pagination
----------*****/

.pagination>li:first-child>a, .pagination>li:first-child>span,.pagination>li:last-child>a, .pagination>li:last-child>span{
    border-radius: 0;
}
.activate_pag.active{
    background-color: #0198d4;
}
.pagination>li>a{
    font-size: 21px;
    font-weight: 500;
    color: #a85c5c;
}
.pagination>li.activate_pag>a:active{
    background-color: #a85c5c;
    color: white;
}
.pagination{
    width: 100%;
    margin-top: -0.4%;
    margin-right: -45%;
}
a.a_dec_q,a.init{
    text-decoration: none;
}